@model UrbanPeople.Areas.Admin.ViewModels.Accounts.IndexViewModel

@{
    Layout = Layout = "/Views/Shared/_Layout.cshtml";;
    ViewData["Title"] = "Пользователи";
}

<h1>Пользователи</h1>

<table class="table table-bordered">
    <thead class="">
    <tr class="">
        <th>Id</th>
        <th>Почта</th>
        <th>Телефон</th>
        <th>Роли</th>
    </tr>
    </thead>
    <tbody class="bg-white">
    @foreach (var user in Model.UserList)
    {
        <tr>
            <td>@user.User.Id</td>
            <td>@user.User.Email</td>
            <td>@user.User.PhoneNumber</td>
            <td>@user.UserRoles</td>
        </tr>
    }
    </tbody>
</table>