﻿@model UrbanPeople.Areas.Admin.ViewModels.Routes.RoutesViewModel

@{
     Layout = Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Маршруты";
}

<h1>Маршруты</h1>

<table class="table table-bordered">
    <thead class="">
    <tr class="">
        <th>Id</th>
        <th>Owner Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody class="bg-white">
    @foreach (var route in Model.Routes)
    {
        <tr class="table-row" onclick="location.href='@Url.Action("Route", "Routes", route)'">
            <td>@route.Id</td>
            <td>@route.OwnerId</td>
            <td>@route.Name</td>
        </tr>
    }
    </tbody>
</table>
