﻿@model UrbanPeople.Areas.Admin.ViewModels.Routes.RouteViewModel

<h1>Информация о маршруте</h1>

<div class="container-fluid">
    <h2>Id</h2>
    <p>@Model.Route.Id</p>
    <h2>Name</h2>
    <p>@Model.Route.Name</p>
    <h2>OwnerId</h2>
    <p>@Model.Route.OwnerId</p>
    <h2>Owner</h2>
    <p>@Model.Route.Owner</p>
    <h2>Points</h2>
    <div class="container">
        @foreach (var point in Model.Route.Points)
        {
            <p>@point.Number. [@point.Latitude] [@point.Longitude]</p>
        }
    </div>
</div>

