@model UrbanPeople.ViewModels.Account.LoginViewModel

@{
    ViewData["Title"] = "Вход";
}

<form asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" class="form-signin">
    <div class="text-center">
        <h2>Urban People</h2>
        <p>Вход в систему</p>
    </div>
    <div asp-validation-summary="All" class="form-signin__errors"></div>
    <div class="form-group">
        <input asp-for="Email" class="form-control" placeholder="Логин" autofocus />
    </div>
    <div class="form-group">
        <input asp-for="Password" class="form-control" placeholder="Пароль" />
    </div>
    <div class="form-group form-check text-center">
        <input asp-for="Remember" class="form-check-input" id="checkbox" />
        <label class="form-check-label" for="checkbox">Запомнить</label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" >Войти</button>
    </div>
</form>